.meal-banner {
  background-image: url("../img/bannerexample.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px;
  width: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.banner-title h2 {
  font-size: 60px;
  color: white;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  opacity: 1.2;
}

.banner-input {
  margin-top: 20px;
  margin-bottom: 20px;
}

.banner-input input[type=text] {
  border: none;
  outline: none;
  border-radius: 25px;
  height: 50px;
  width: 300px;
  padding-left: 15px;
  font-size: 30px;
}

.banner-buttons button {
  width: 100%;
  text-decoration: none;
  color: #ffba08;
  background-color: #03071e;
  border-radius: 25px;
  height: 50px;
  width: 150px;
  font-family: "Montserrat";
  font-weight: 700;
  padding: 5px 5px;
  border-color: #ffba08;
}
.banner-buttons button:hover {
  background-color: #ffba08;
  color: #03071e;
  border-color: #03071e;
}

#mainContent {
  margin-top: 40px;
  margin-bottom: 20px;
}

.card-meal .card-body {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.card-meal .card-body h5 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  margin-bottom: 10px;
}
.card-meal .card-body .card-btn {
  width: 100%;
}
.card-meal .card-body .card-btn a {
  background-color: #03071e;
  color: #ffba08;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  width: 100%;
}
.card-meal:hover {
  transform: scale(1.2) 1s linear;
  box-shadow: -3px 20px 40px 1px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: -3px 20px 40px 1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: -3px 20px 40px 1px rgba(0, 0, 0, 0.56);
}

.footer {
  background: #03071e;
  color: #ffba08;
}
.footer h2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}
.footer .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.footer .links ul {
  list-style-type: none;
}
.footer .links li a {
  color: #ffba08;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  transition: color 0.2s;
}
.footer .links li a:hover {
  text-decoration: none;
  color: #d00000;
}
.footer .info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer .info-container i {
  font-size: 25px;
}
.footer .info-container a {
  color: #ffba08;
  font-family: "Roboto", sans-serif;
  transition: color 0.2s;
}
.footer .info-container a:hover {
  color: #d00000;
}
.footer .info-container img {
  width: auto;
  height: 100%;
  max-height: 150px;
}
.footer .redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .redes a {
  font-size: 18px;
}
.footer .redes .redes-container a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #ffba08;
}
.footer .redes .redes-container a:hover {
  color: #d00000;
}

.navbar {
  background-color: #03071e;
}
.navbar a {
  color: #ffba08;
}
.navbar a:hover {
  color: #d00000;
}

.navbar-toggler {
  border-color: #ffba08;
}
.navbar-toggler .icon-navbar {
  color: #ffba08;
  font-size: 28px;
}

.card-container {
  margin-bottom: 20px;
}

.navbar-nav li {
  float: none;
  display: inline-block;
  vertical-align: bottom;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.main-about {
  margin-top: 100px;
}

/*# sourceMappingURL=output.css.map */
