body {
  background-color:burlywood;
}
#title {
  text-align: left;
  font-size: 50px;
  color: yellow;
  font-family: "Fredoka One", cursive;
  margin-top: 40px;
  margin-left: 50px;
  padding-top: 170px;
}
#search{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}

#instructionBody{
  text-align: justify;
}




.card-img-top{
    filter: sepia(100%) brightness(60%);
}

.card-img-top:hover{
  filter: none;
}

div.card:hover{
  color: rgb(227, 120, 20);
  box-shadow: 0 10px 15px rgba(243, 240, 66, 0.479);
  cursor: pointer;
  border: solid orange;
}

img.float-start {
  max-height: 400px;
}