body {
  background-color:burlywood;
}
#title {
  text-align: left;
  font-size: 50px;
  color: yellow;
  font-family: "Fredoka One", cursive;
  margin-top: 40px;
  margin-left: 50px;
  padding-top: 170px;
}
#search{
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 100px;
    margin-bottom: 50px;
}
